<h1> Должности</h1>
<table>
  <tr>
    <th>№id</th>
    <th>position_id</th>
    <th>Должность</th>
    <th>время открытия</th>
    <th>время закрытия</th>
  </tr>
  <%= render @position_histories%>
</table>
<%= link_to 'users', users_path %><br>
<%= link_to 'position', positions_path %><br>
<%= link_to 'employment_terms', employment_terms_path %>
